node_modules/
miniprogram_npm/*
dist/
dev/
DS_Store

.idea/
.vscode/

env.js

# 保留二次修改的第三方组件
miniprogram_npm/tdesign-miniprogram/*
miniprogram_npm/tdesign-miniprogram/tabs/*
!miniprogram_npm/tdesign-miniprogram
!miniprogram_npm/tdesign-miniprogram/tabs/
!miniprogram_npm/tdesign-miniprogram/tabs/tabs.js
!miniprogram_npm/tdesign-miniprogram/tabs/tabs.wxml